<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}" type="text/css">
    <title>首页</title>
</head>
<body>
<h1>Cat Information</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Weight</th>
                <th>Time</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
            {% for cat in cats %}
            <tr>
                <td>{{ cat.id }}</td>
                <td>{{ cat.name }}</td>
                <td>{{ cat.weight }}</td>
                <td>{{ cat.time }}</td>
                <td>{{ cat.location }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>